<main class="main" style="color: white;">
  <h2>Название объекта: {{entry.name}}</h2>

  <p>Широта: {{entry.firstCoord}}</p>

  <p>Долгота: {{entry.secondCoord}}</p>

  <ul class="no-bullets no-margin no-padding right">
    <li>
      <a href="/{{entry.id}}/edit"><button class="button">Edit</button> </a>
    </li>

    <li style="margin: 5px 0;">
      <form action="/{{entry.id}}" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </li>
  </ul>
</main>